.movie-review-card {
  display: block;
  height: 100%;
}

.movie-review-card vaadin-grid {
  height: 100%;
  line-height: var(--lumo-line-height-s);
}

.movie-reviews-grid vaadin-grid,
.movie-reviews-grid vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.movie-reviews-grid vaadin-grid::part(header) {
  font-size: 48px;
}

.movie-review-card .content-layout {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.movie-review-card img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-xl);
  margin-right: calc(var(--lumo-space-s) * 1.5);
  width: var(--lumo-size-xl);
  margin-top: 2%;
}

.movie-review-card .header {
  align-items: baseline;
}

.movie-review-card .username {
  font-size: var(--lumo-font-size-s);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
}

.movie-review-card .date {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
}

.movie-review-card .comment {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-s);
  margin-bottom: var(--lumo-space-s);
  white-space: normal;
}

.movie-review-card .comment {
  align-items: center;
}

.movie-review-card .icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s) * 0.8);
  margin-right: var(--lumo-space-s) * 5;
  width: calc(var(--lumo-icon-size-s) * 0.8);
  margin-bottom: 5px;
}

.movie-review-card .likes,
.movie-review-card .comments,
.movie-review-card .shares {
  color: var(--lumo-tertiary-text-color);
  font-size: var(--lumo-font-size-xs);
  margin-right: var(--lumo-space-l);
}
